<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重测序</title>
<style type="text/css">

.STYLE1 {
	font-family: "华文行楷";
	font-size: 36px;
}

</style>

</head>

<body>
<div align="center" class="STYLE1">项目ddddd选择</div><br/><br/>
<form action="{{url_for('testmyform')}}" method="post" >
{{ form.csrf_token }}
  <table width="500" border="1" align="center">
    <tr>
      <td width="150" height="20"><div align="right">{{form.projectpath.label}}</div></td>
      <td width="325"><label>
		{{form.projectpath}}
<!--         <div align="left">
          <input type="text"  width="250" name="projectpath" />
        </div> -->
      </label></td>
    </tr>
     <tr>
      <td><div align="right">{{form.datadepth.label}}</div></td>
      <td><label> 
	{{form.datadepth}}
<!--         <div align="left">
          <input type="text" width="250" name="datadepth" />
        </div> -->
      </label></td>
    </tr>
  
    <tr>
      <td><div align="right">选择软件和参数：</div></td>
      <td><label>

       <div align="left">
            <select name="select">
				<optgroup label="软件1">
					<option>参数1</option>
					<option>参数2</option>
					<option>参数3</option>
				</optgroup>
				<optgroup label="软件2">
					<option>参数4</option>
					<option>参数5</option>
					<option>参数6</option>
				</optgroup>
				<optgroup label="软件3">
					<option>参数7</option>
					<option>参数8</option>
					<option>参数9</option>
				</optgroup>

			</select> 
        </div> 
      </label></td>
    </tr>


    <tr>
      <td colspan="2"><label>

        <div align="center">
        {{form.submit}}
          <!-- <input type="submit" name="submit" value="提交" /> -->
          <input type="reset" name="Submit2" value="重置" />
        </div>
      </label></td>
    </tr>
  </table>

</form>
<p>&nbsp;</p>
</body>
</html>
