<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<Script Language ="JavaScript">
var textare=lis[i].getElementsByTagName('textarea')[0];
textarea.onfocus=function(){
	this.parentNode.className='text-box text-box-on';
	this.value=this.value=='评论...'?'':this.value;
}
textarea.onblur=function(){
	if(this.value==''){
		this.parentNode.className='text-box';
		this.value='评论...';
	}
}
	
</script>
</Script>
</head>

<body>
<form method = "POST" action="/login">
            <div>
              <input name="name" type="text"/>
              <input name="password" type="password"/>
              <input type="submit"/>
              
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
</form>

<!-- 
<div>
<div><a href="mRNA_microRNA" target="_self">mRNA/miRNA表达分析(李佳/王宏)</div>
<div><a href="selection" target="_self">自然选择和人工选择(刘睿/彭德志)</div>

<div><a href="imprinting_Epigenetic" target="_self">基因印迹和表观遗传(王靖/李金秀)</div>
<div><a href="GeneMapping" target="_self">基因定位(GWAS,Linkage, NGS等)(王宇哲/彭金/郭影)</div>
<div><a href="GBS" target="_self">GBS相关(谈成/贾博)</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div>
<a href="freshtoread" target="_self">

新生阅读

</div>

 -->

<div>
<a href="Python_study" target="_self">Python 学习资料下载
</div>
<!-- 

<div>
<a href="aglorithms_in_biology" target="_self">aglorithms_in_biology
</div>
<div>
<a href="genomics" target="_self">genomics
</div>
 -->

</body>
</html>
