<!DOCTYPE html>
    <html> <body>

<center>
<div class="warning">
	{% for message in get_flashed_messages() %}
		<strong>Warning!</strong> {{ message }}
	{% endfor %}
</div>
    <h1>How to use our system</h1>
<img src="{{ url_for('video_feed',filename='lupin1.avi') }}">
<br><br><br>
<h1>上传要识别的视频文件</h1>
<br><br>
<form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
  <p><input type=file name=file>
     <input type=submit value=上传>
</form>

<h4>须知：</h4>
<table border="0">
<tr>
<td align="left" valign="middle" border="0">1、系统正在开发之中。。。</td>
</tr>
<tr>
<td align="left" valign="middle" border="0">2、合作联系xxxx@163.com</td>
</tr>
<tr>
<td align="left" valign="middle" border="0">3、西北大学秦岭野生动物保护重点实验室提供专业的动物识别解决方案</td>
</tr>
</table>
<center>


    </body>
    </html>