<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>重测序</title>
<style type="text/css">

.STYLE1 {
	font-family: "华文行楷";
	font-size: 36px;
}

</style>
<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
</head>

<body>
<div align="center" class="STYLE1">项目选择</div><br/><br/>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="500" border="1" align="center">
    <tr>
      <td width="150" height="20"><div align="right">请输入项目路径：</div></td>
      <td width="325"><label>

        <div align="left">
          <input type="text"  width="250" name="textfield" />
        </div>
      </label></td>
    </tr>
    <tr>
      <td><div align="right">请输入所在层级：</div></td>
      <td><label>

        <div align="left">
          <input type="text" width="250" name="textfield2" />
        </div>
      </label></td>
    </tr>
    <tr>
      <td><div align="right">选择软件：</div></td>
      <td><label>

        <div align="left">
            <select name="select">
              <option>软件1</option>
              <option>软件2</option>
              <option>软件3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>

            </select>
        </div>
      </label></td>
    </tr>
    <tr>
      <td><div align="right">123：</div></td>
      <td><label>

        <div align="left">
          <input type="text" name="textfield3" />
        </div>
      </label></td>
    </tr>


    <tr>
      <td colspan="2"><label>

        <div align="center">
          <input type="button" name="Submit" value="提交" />
          <input type="reset" name="Submit2" value="重置" />
        </div>
      </label></td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</body>
</html>
